:root {
  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-200: hsl(158, 36%, 37%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(228, 12%, 48%);
  --clr-neutral-300: hsl(212, 21%, 14%);

  --ff-1: 'Fraunces', serif;
  --ff-2: 'Montserrat', sans-serif;


  --fs-paragraph: 14px;

  --fw-500: 500;
  --fw-700: 700;
}

body {
  background-color: var(--clr-primary-100);
}

@media only screen and (min-width: 600px) {

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .image-container {
    width: 17rem;
    height: 25.5rem;
    border-top-left-radius: 0.55rem;
    border-bottom-left-radius: 0.55rem;

  }

  .text-container {
    height: 24.6rem;
    width: 14.6rem;
    background-color: var(--clr-neutral-100);
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .header {
    font-family: var(--ff-1);
  }

  .paragraph {
    font-family: var(--ff-2);
    font-size: 12px;
    color: var(--clr-neutral-200);


  }
  .second-container
  {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center

  }


  .text-container2 {
    size: 15rem;
  }

  .button {
    width: 13rem;
    height: 2.6rem;
    border-radius: 0.5rem;
    background-color: var(--clr-primary-200);
    border: 0px;

  }

  .button-text {
    color: white;
    font-family: var(--ff-2);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .price-tag {
    display: flex;
    align-items: center;

  }

  .price {
    color: var(--clr-primary-200);
    padding-right: 1rem;
    font-family: var(--ff-1);
    font-size: 14px;

  }

  .old-price {
    text-decoration: line-through;
    color: var(--clr-neutral-200);
    font-family: var(--ff-2);
    font-size: 13px;

  }

  .perfume-text {
    padding-top: 1rem;
    letter-spacing: 3px;
    font-size: 12px;
  }

  .button-container {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .perfume-discription {
    padding-bottom: 0;
    width: 13rem;
    line-height: 1.2rem;
    font-size: 13px;
  }

  .mobile-image-container {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.second-container {
  background-color: var(--clr-neutral-100);
  padding: 0;
  border-radius: 0.55rem;
}

.mobile-image-container {
  width: 22rem;
  height: 15rem;
  border-top-left-radius: 0.55rem;
  border-top-right-radius: 0.55rem;
}

.image-container {
  display: none;
  visibility: hidden;
}

.text-container {
  height: 26rem;
  width: 21.5rem;
  background-color: var(--clr-neutral-100);
}

.header {
  font-family: var(--ff-1);
  padding-left: 1rem;
}

.paragraph {
  padding-left: 1rem;
  font-family: var(--ff-2);
  color: var(--clr-neutral-200);
}

.perfume-text {
  padding-top: 1rem;
  letter-spacing: 3px;
  font-size: 12px;
  padding-bottom: 0;

}

.header {
  font-family: var(--ff-1);
  font-size: var(--fw-700);
  padding-left: 1rem;
  color: var(--clr-neutral-300);
}

.perfume-discription {
  padding-right: 2rem;
  font-size: 14.5px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.price-tag {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-left: 1rem;
}

.price {
  padding-top: 0;
  font-family: var(--ff-1);
  font-size: 1.1rem;
  padding-right: 1rem;
  color: var(--clr-primary-200);
}

.old-price {
  text-decoration: line-through;
  color: var(--clr-neutral-200);
  font-family: var(--ff-2);
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 18.5rem;
  height: 3rem;
  border-radius: 0.55rem;
  background-color: var(--clr-primary-200);
  border: 0px solid white;
  color: var(--clr-neutral-100);
  font-family: var(--ff-2);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  padding-right: 0.4rem;
}
}